
/*@media (width > 768px){} */
.card-container{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;

}

.card{
    width: auto;
    height: auto;
}
  
 
  @media (width > 768px){
    
    img {
     /* min-height: 15.5rem; */
     min-height: auto;
    }
    .card-container{
        grid-template-columns: 1fr 1fr;


    }
    .card:last-child{
        grid-column: 1 / span 2;

    }

  }

  @media screen and (min-width: 1200px) {
    img {
      /*min-height: 16.375rem;*/
      min-height: auto;
    
    }
    .card-container{
        grid-template-columns: 1fr 1fr 1fr;


    }
    .card:last-child{
        grid-column: unset;

    }
  }